<form #auditConfigForm="ngForm" class="clr-form clr-form-horizontal">
    <section>
        <clr-input-container>
            <label for="auditLogForwardEndpoint">
                {{ 'CLEARANCES.FORWARD_ENDPOINT' | translate }}
                <clr-tooltip>
                    <clr-icon
                        clrTooltipTrigger
                        shape="info-circle"
                        size="24"></clr-icon>
                    <clr-tooltip-content
                        clrPosition="top-right"
                        clrSize="lg"
                        *clrIfOpen>
                        <span>{{
                            'CLEARANCES.FORWARD_ENDPOINT_TOOLTIP' | translate
                        }}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </label>
            <input
                clrInput
                name="auditLogForwardEndpoint"
                type="text"
                [(ngModel)]="currentConfig.audit_log_forward_endpoint.value"
                id="auditLogForwardEndpoint"
                size="36"
                (input)="onForwardEndpointInput()"
                [disabled]="
                    disabled(currentConfig.audit_log_forward_endpoint)
                " />
        </clr-input-container>

        <h3>{{ 'AUDIT_LOG_CONFIG.RECORDING' | translate }}</h3>
        <div class="audit-log-recording">
            <div class="audit-log-recording-header">
                <p class="p7 mt-0 mb-0">
                    {{
                        'CLEARANCES.ENABLE_AUDIT_LOG_EVENT_TYPE_TOOLTIP'
                            | translate
                    }}
                </p>
            </div>

            <clr-spinner
                *ngIf="loading"
                [clrMedium]="true"
                [attr.aria-label]="'CLARITY.LOADING' | translate"></clr-spinner>

            <clr-alert
                *ngIf="!loading && categories.length === 0"
                [clrAlertType]="'info'"
                [clrAlertClosable]="false">
                <clr-alert-item>
                    <span class="alert-text">{{
                        'CLEARANCES.AUDIT_LOG_EVENT_TYPE_EMPTY' | translate
                    }}</span>
                </clr-alert-item>
            </clr-alert>

            <ng-container *ngIf="!loading && categories.length > 0">
                <table class="table table-compact audit-log-matrix">
                    <thead>
                        <tr>
                            <th class="left">
                                {{ 'AUDIT_LOG.RESOURCE' | translate }}
                            </th>
                            <th
                                *ngFor="let action of matrixActions"
                                class="left">
                                {{ action | titlecase }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">
                            <td class="left audit-log-matrix-resource">
                                <clr-icon
                                    [attr.shape]="category.icon"
                                    aria-hidden="true"></clr-icon>
                                {{ category.labelKey | translate }}
                            </td>
                            <td *ngFor="let action of matrixActions">
                                <ng-container
                                    *ngIf="
                                        getMatrixEvent(
                                            category,
                                            action
                                        ) as event
                                    ">
                                    <input
                                        type="checkbox"
                                        clrCheckbox
                                        [id]="
                                            getMatrixEventId(category, action)
                                        "
                                        [name]="
                                            getMatrixEventId(category, action)
                                        "
                                        [attr.aria-label]="
                                            (category.labelKey | translate) +
                                            ' - ' +
                                            (action | titlecase)
                                        "
                                        [checked]="hasEventType(event.value)"
                                        [disabled]="isEventSelectionDisabled()"
                                        (change)="
                                            toggleEventType(event.value)
                                        " />
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>

        <clr-checkbox-container>
            <label for="skipAuditLogDatabase">
                {{ 'CLEARANCES.SKIP_DATABASE' | translate }}
                <clr-tooltip>
                    <clr-icon
                        clrTooltipTrigger
                        shape="info-circle"
                        size="24"></clr-icon>
                    <clr-tooltip-content
                        clrPosition="top-right"
                        clrSize="lg"
                        *clrIfOpen>
                        <span>{{
                            'CLEARANCES.SKIP_DATABASE_TOOLTIP' | translate
                        }}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </label>
            <clr-checkbox-wrapper>
                <input
                    type="checkbox"
                    clrCheckbox
                    name="skipAuditLogDatabase"
                    id="skipAuditLogDatabase"
                    [(ngModel)]="currentConfig.skip_audit_log_database.value"
                    [disabled]="
                        disabled(currentConfig.skip_audit_log_database) ||
                        !currentConfig.audit_log_forward_endpoint.value
                    " />
            </clr-checkbox-wrapper>
        </clr-checkbox-container>
    </section>
</form>

<div>
    <button
        type="button"
        id="config_audit_log_save"
        class="btn btn-primary"
        (click)="save()"
        [disabled]="!isValid() || !hasChanges() || inProgress">
        {{ 'BUTTON.SAVE' | translate }}
    </button>
    <button
        type="button"
        id="config_audit_log_cancel"
        class="btn btn-outline"
        (click)="cancel()"
        [disabled]="!isValid() || !hasChanges() || inProgress">
        {{ 'BUTTON.CANCEL' | translate }}
    </button>
</div>
