<form class="clr-form clr-form-horizontal">
    <section>
        <clr-checkbox-container>
            <label for="projectFedIdp">
                {{ 'CONFIG.PROJECT_FEDIDP' | translate }}
                <clr-tooltip>
                    <clr-icon
                        clrTooltipTrigger
                        shape="info-circle"
                        size="24"></clr-icon>
                    <clr-tooltip-content
                        clrPosition="top-right"
                        clrSize="lg"
                        *clrIfOpen>
                        <span>{{
                            'CONFIG.TOOLTIP.PROJECT_FEDIDP' | translate
                        }}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </label>
            <clr-checkbox-wrapper>
                <input
                    type="checkbox"
                    clrCheckbox
                    name="projectFedIdp"
                    id="projectFedIdp"
                    [ngModel]="projectIdentityProviders?.value"
                    (ngModelChange)="setEnabled($event)"
                    [attr.disabled]="
                        !projectIdentityProviders ||
                        !projectIdentityProviders.editable
                            ? 'disabled'
                            : null
                    " />
            </clr-checkbox-wrapper>
        </clr-checkbox-container>
    </section>
</form>
<div>
    <button
        type="button"
        id="identity-providers-save"
        class="btn btn-primary"
        (click)="save()"
        [disabled]="saving || !hasChanges()">
        {{ 'BUTTON.SAVE' | translate }}
    </button>
    <button
        type="button"
        class="btn btn-outline"
        (click)="cancel()"
        [disabled]="saving || !hasChanges()">
        {{ 'BUTTON.CANCEL' | translate }}
    </button>
</div>
