.search-overlay {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;

    /* should be lesser than 1000 to avoid override the popup menu */
    z-index: 999;
    box-sizing: border-box;
    background: #fafafa;
    left: 0;
    padding-left: 36px;
    padding-right: 36px;
}

.search-header {
    display: inline-block;
    width: 100%;
    position: relative;
}

.search-close {
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.search-parent-override {
    position: relative !important;
}

:host {
    display: block;
    flex: 1 1 24rem;
    max-width: 28rem;
    min-width: 0;
}

.search {
    display: flex;
    align-items: center;
    max-width: none;
    width: 100%;
}

.search-spinner {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
}

.grid-header-wrapper {
    text-align: right;
}

.grid-filter {
    position: relative;
    top: 8px;
    margin: 0 auto;
}

.search-header a:hover {
    text-decoration: none;
}

.search::before {
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    background: #fafafa;
    opacity: .15;
    height: 40px;
    width: 1px;
    top: 10px;
}

.search label {
    flex: 1 1 auto;
    min-width: 0;
}

#results {
    overflow-y: auto;
    max-height: 85%;
}

#placeholder1 {
    height: 24px;
}

.search-input {
    outline: none;
    width: 100%;
}

.search-input::placeholder{
    color: #fafafa;
}
